@import compass/reset
@import compass/css3
@import compass/utilities/general

// variables
$gallery-width: 700px
$slide-height: 400px
$prim-nav-height: 20px
$num_slides: 4 // this will eventually be moved into the js

h3
  text-align: center

#gallery
  width: $gallery-width
  height: 400px
  position: relative
  margin: 50px auto
  overflow: hidden

.slide-container
  width: $gallery-width * $num_slides
  position: relative
  +pie-clearfix

.slide
  float: left
  width: $gallery-width
  height: $slide-height
  +transition(opacity 1s ease-in)
  opacity: 0
  &.active
    opacity: 1

.slide1
  background-color: orange

.slide2
  background-color: green

.slide3
  background-color: blue

.slide4
  background-color: purple

.no-show
  opacity: 0

.primary-nav
  width: $prim-nav-height
  height: $prim-nav-height
  position: absolute
  top: ($slide-height - $prim-nav-height) / 2
  background-color: rgba(black, .7)
  +border-radius($prim-nav-height / 2)
  +rotate(45deg)
  // &::after
  //   content: ""
  //   position: absolute
  //   top: 0
  //   left: 0
  //   width: 10px
  //   height: 10px
  //   background-color: white
  &:hover
    background-color: rgba(black, .5)
    cursor: pointer
  &.prev
    left: $prim-nav-height
  &.next
    right: $prim-nav-height



